<section class="container">
  <div class="title-header">
    <h2>Productos:</h2>
    <a href="/add-products">Agregar Productos</a>
  </div>
  {{#if products}}
  <article class="products-list">
    {{#each products}}
    <div class="product-card" id="{{id}}">
      <div class="product-header">
        <img src="https://source.unsplash.com/480x300/?foods&random={{id}}" alt="">
        <span class="product-delete" data-product-id="{{id}}">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 18 20">
            <path
              d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z" />
          </svg>
        </span>
      </div>
      <div class="product-info">
        <h3>{{title}}</h3>
        <p><span>Descripción:</span> <br> {{description}}</p>
        <p><span>Stock disponible:</span> {{stock}}</p>
        <p>${{price}}</p>
      </div>
    </div>
    {{/each}}
  </article>
  {{else}}
  <p>No hay productos.</p>
  {{/if}}
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>